- if user_signed_in? && current_user == user_by_profile_username && current_user.posts.empty?
  = render 'posts/form'
- if user_signed_in?
  - if current_user != user_by_profile_username && user_by_profile_username.posts.empty?
    = render 'users/show/no_posts'
- elsif user_by_profile_username.posts.empty?
  = render 'users/show/no_posts'
.users-show-posts-container
  - user_by_profile_username.posts.by_date.each_slice(3) do |posts_row|
    .users-show-posts-row
      - posts_row.each do |post|
        = render 'posts/post', post: post

