<div class='devise'>
  <div class='devise-content'>
    <h1 class='kotogram'>Kotogram</h1>
    <h2>Resend confirmation</h2>
    <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post} do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: :Email,
        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'input-devise' %>
      <%= f.submit 'Resend instructions', class: 'btn btn-primary btn-devise' %>
    <% end %>
  </div>
  <%= render 'devise/shared/links' %>
</div>
