<div class='devise-registrations-edit'>
  <ul class='devise-registrations-edit-nav'>
    <li class='devise-registrations-edit-nav-li'>
      <button>Public</button>
    </li>
    <li class='devise-registrations-edit-nav-li'>
      <button>Privacy</button>
    </li>
  </ul>
  <article class='devise-registrations-edit-content'>
    <header class='devise-registrations-edit-content-header'>
      <%= image_tag current_user.profile.avatar,
        class: 'devise-registrations-edit-content-header-avatar' %>
      <h1 class='devise-registrations-edit-content-header-profile-username'>
        <%= current_user.profile.username %>
      </h1>
    </header>
    <%= render 'devise/registrations/public' %>
  </article>
</div>
