%li
  = link_to commenter_username(comment.commenter), user_path(commenter_username(comment.commenter))
  = comment.body
  = render partial: 'likes/likes', locals: { likeable: comment }
  = render partial: 'likes/comments/form', locals: { likeable: comment }
