= form_for [user, commentable, Comment.new] do |f|
  = f.hidden_field :user_username, value: current_user.login
  = f.text_area :body, placeholder: 'Add a comment...', class: 'feed-item-comment-textarea'
  //= f.submit
