= form_for [post.user, post, post.comments.build],
  html: { class: "form-comment" } do |f|
  = f.hidden_field :commenter, value: current_user.id
  = f.text_field :body, placeholder: 'Add a comment...', class: "form-comment-input"
