<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <button class='btn btn-primary btn-facebook' onclick="location.href = '<%= omniauth_authorize_path(resource_name, provider) %>'">
      <%= icon('facebook-official') %>
      Log in with <%= OmniAuth::Utils.camelize provider %>
    </button>
  <% end %>
<% end %>
