$tablet-width: 768px;
$desktop-width: 1024px;
$color-body: #fafafa;
$color-white: #fff;
$color-btn-primary: #3897f0;
$color-time: #999;
$color-border: #e6e6e6;
$color-input: #dbdbdb;
$color-input-focus: #b2b2b2;
$color-light-black: #262626;
$color-light-gray-c7c7c7: #c7c7c7;
$color-border-header: #efefef;
$color-dislike: #ed4956;
$color-link: #337ab7;


$color-input-control: #dbdbdb;
