.unlock-new-page.flex-container-to-devise-pages-for-not-authenticated-user
  %section.unlock-new-page-content.flex-item-to-devise-pages-for-not-authenticated-user
    %h1.kotogram-logo-to-devise-pages-for-not-authenticated-user Kotogram
    %h2.description-of-devise-recovery-pages-for-not-authenticated-user Resend unlock instructions

    = form_for(resource, as: resource_name, url: unlock_path(resource_name),
      html: { method: :post, class: 'form-unlock-new form-to-devise-pages-for-not-authenticated-user' }) do |f|

      = f.email_field :email, autofocus: true, placeholder: 'Email',
        class: 'form-input-to-devise-pages-for-not-authenticated-user'

      = f.submit 'Resend instructions',
        class: 'form-button-to-devise-pages-for-not-authenticated-user'

  %section.shared-links-unlock-new-page.shared-links-to-devise-pages-for-not-authenticated-user
    = render 'devise/shared/links'
