$color-white: #fff;
$color-white-lighten: lighten($color-white, 40%);
$color-white-very-lighten: rgba(0, 0, 0, .0975);
$color-alabaster: #fafafa;
$color-blue-picton: #3897f0;
$color-gray: #939393;
$color-gray-dusty: #999;
$color-mercury: #e6e6e6;
$color-alto: #dbdbdb;
$color-silver-chalice: #b2b2b2;
$color-mine-shaft: #262626;
$color-silver: #c7c7c7;
$color-gallery: #efefef;
$color-amaranth: #ed4956;
$color-astral: #337ab7;
