- if user_signed_in? && !current_user?(user_by_username)
  #follow_form
    - if current_user.following?(user_by_username)
      = render 'relationships/unfollow'
    - else
      = render 'relationships/follow'
