<main class="container-500">
  <h2>Oops, something went wrong.</h2>
  <p>
    Try to reload page,
    or contact administrator for technical details.
    <%= link_to "Go back to Kotogram.", "/" %>
  </p>
</main>
