.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.users-show-posts-container
  .row
    - if user_signed_in? && current_user == user_by_profile_username
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.users-show-posts-desktop-switchable-menu
        .row
          .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12{ style: 'margin-top: 10px; margin-bottom: 10px' }
            .btn-group.btn-group-justified{ role: 'group', 'aria-label' => '...' }
              .btn-group{ role: 'group' }
                %button{ class: 'btn btn-default active' } My posts
              .btn-group{ role: 'group' }
                = link_to 'Share new moments', user_path(current_user), remote: true,
                  class: 'btn btn-default btn-to-new-post', role: 'button'
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        - if user_by_profile_username.posts.any?
          = render user_by_profile_username.posts.by_date
        - else
          = render 'posts/no_posts'
