.stats
  = link_to followers_user_path(user_by_login) do
    .stat#followers
      = user_by_login.followers.count
    %span followers
  = link_to following_user_path(user_by_login) do
    .stat#following
      = user_by_login.followed_users.count
    %span following
