.container.users-followers
  .row
    .col-lg-6.col-lg-offset-3
      .row
        .col-lg-10.col-lg-offset-1.users-followers-container
          .row
            .col-lg-12.users-followers-text
              %big Following
            - user_by_profile_username.followed_users.each do |followed_user|
              .col-lg-12.users-followers-follower-container
                .row
                  .col-lg-12
                    = link_to user_path(followed_user) do
                      = image_tag followed_user.profile.avatar.followed_user, class: 'img-circle'
                      %strong.users-followers-follower-username= followed_user.profile.username
                    .pull-right
                      = render 'relationships/form', user: followed_user

