.container.users-followers
  .row
    .col-lg-6.col-lg-offset-3
      .row
        .col-lg-10.col-lg-offset-1.users-followers-container
          .row
            .col-lg-12.users-followers-text
              %big Finded users
            - @users.each do |user|
              .col-lg-12.users-followers-follower-container
                .row
                  .col-lg-12
                    = link_to user_path(user) do
                      = image_tag user.profile.avatar.followed_user, class: 'img-circle'
                      %strong.users-followers-follower-username= user.profile.username
                    .pull-right
                      = render 'relationships/form', user: user
