.container.container-devise-unauthenticated-user-pages
  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
      .row
        .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.devise-unauthenticated-user-pages-main-content
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %h1.text-center.text-nowrap Kotogram
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %p.text-center
                %big Forgot your password?
            .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
              = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|

                .form-group
                  = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'

                = f.submit 'Send me reset instructions', class: 'btn btn-default btn-block'
                %br
        .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.devise-unauthenticated-user-pages-shared-links
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              = render 'devise/shared/links'
