<div class='unauthorized-user-passwords-new-page'>
  <div class='unauthorized-user-passwords-new-page-container'>
    <div class='unauthorized-user-passwords-new-page-main-content'>
      <h1 class='unauthorized-user-passwords-new-page-kotogram'>Kotogram</h1>
      <h2 class='unauthorized-user-passwords-new-page-text-explain-page'>
        Forgot your password?
      </h2>
      <%= form_for resource, as: resource_name, url: password_path(resource_name),
        html: { method: :post, class: 'unauthorized-user-passwords-new-form' } do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email',
          class: 'unauthorized-user-unlocks-new-page-form-input-control' %>
        <%= f.submit 'Send me reset instructions', class: 'unauthorized-user-passwords-new-page-send-button' %>
      <% end %>
    </div>
    <div class='unauthorized-user-shared-links-container'>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
