@import 'variables';

@mixin phone {
  @media
    only screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media
    only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media
    only screen and (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media
    only screen and (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin flex-container($max-height) {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: $color-background-gray-light;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;

  @media only screen and (max-height: #{$max-height}) {
    justify-content: flex-start;
  }
}

@mixin flex-item($width) {
  width: $width;
  background: $white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 15px;
}

