$body: #fafafa;
$white: #fff;
$all: #fafafa;
$all-page: #fafafa;
$container: #fff;
$container-border: #e7e7e7;
$logo: #262626;
$kotogram: #262626;
$logo-border: #9b9b9b;
$search-border: #dbdbdb;
$search-placeholder: #999cb4;
$post-time: #999;
$time: #999;
$line-between-comments-and-form: #efefef;
$simple-link: #337ab7;
