@import 'utilities/mixins';

.unauthorized-user-passwords-edit-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-height: 460px ) {
    justify-content: flex-start;
  }

  @media (max-width: 767px) and (min-height: 460px) {
    align-items: center;
  }
}

.unauthorized-user-passwords-edit-page-container {
  padding-top: 25px;
  padding-bottom: 25px;

  @include phone {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.unauthorized-user-passwords-edit-page-main-content {
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 1px;
  padding: 15px 40px;
  margin-bottom: 10px;

  @include phone {
    width: 100%;
    padding: 15px 10%;
    background-color: #fafafa;
    border-color: #fafafa;
    margin-bottom: 0px;
  }
}

.unauthorized-user-passwords-edit-page-kotogram {
  text-align: center;
  margin: 0 0 15px 0;
  font-family: 'Lobster Two';
  font-size: 46px;
}

.unauthorized-user-passwords-edit-page-text-explain-page {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #999;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.unauthorized-user-passwords-edit-page-form-input-control {
  display: block;
  margin-bottom: 6px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #b2b2b2;
  }
}

.unauthorized-user-passwords-edit-page-send-button {
  margin-top: 10px;
  padding: 0 8px;
  cursor: pointer;
  background-color: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
