@import 'utilities/mixins';

@media only screen and (max-height: 403px) {

  .password-edit-page {
    justify-content: flex-start;
  }

  .password-edit-page-content {
    background: #fafafa;
    border-color: #fafafa;
  }

  .shared-links-password-edit-page {
    background: #fafafa;
    border-color: #fafafa;
  }
}
