@import 'utilities/mixins';

@media only screen and (max-height: 368px) {

  .password-new-page {
    justify-content: flex-start;
  }

  .password-new-page-content {
    background: #fafafa;
    border-color: #fafafa;
  }

  .shared-links-password-new-page {
    background: #fafafa;
    border-color: #fafafa;
  }
}
