@import 'custom/utilities/variables';
@import 'https://fonts.googleapis.com/css?family=Lobster+Two';


.devise {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.devise-content {
  background-color: $color-white;
  border: 1px solid $color-border;
  margin: 25px 0 10px;
  padding: 15px 40px;
  text-align: center;
  width: 350px;

  @include phone {
    border-color: $color-white;
    margin: 0;
    padding: 15px 10% 0;
    width: 100%;
  }

  h2 {
    color: $color-time;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 15px;
  }
}

.kotogram {
  font-family: 'Lobster Two';
  font-size: 46px;
  font-weight: 500;
  margin: 0 0 10px;
}

.btn-facebook .fa-facebook-official {
  font-size: 16px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.or {
  align-items: center;
  display: flex;
  justify-content: center;

  .line {
    background-color: $color-light-gray-c7c7c7;
    height: 1px;
    width: 106px;

    @include phone {
      width: 100%;
    }
  }

  h3 {
    color: $color-time;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 15px 18px;
  }
}

.devise-shared {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 1px;
  margin-bottom: 25px;
  padding: 15px;
  width: 350px;

  @include phone {
    border-color: $color-white;
    margin-bottom: 0;
    padding: 0 15px;
    width: 100%;
  }

  h5 {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.form-devise {
  .form-group { margin-bottom: 6px; }
  .form-group:last-child {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .input-control {
    font-size: .9em;
    height: initial;
    padding: 9px 8px 7px;

    &:focus {
      border-color: $color-input-focus;
      box-shadow: none;
      outline: none;
    }
  }
}

