@import 'custom/utilities/variables';
@import 'custom/utilities/mixins';

.devise-registrations-edit {
  background-color: $color-white;
  border: 1px solid $color-input;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  margin: 60px auto;
  max-width: 935px;
  width: 100%;
}

.devise-registrations-edit-nav {
  border-right: 1px solid $color-input;
  flex-basis: 236px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.devise-registrations-edit-content {
  flex: 1 0 auto;
  margin: 32px 124px;
}

.devise-registrations-edit-content-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.devise-registrations-edit-content-header-avatar {
  border-radius: 50%;
  height: 38px;
  margin-right: 32px;
  width: 38px;
}

.devise-registrations-edit-content-header-profile-username {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
}

.devise-registrations-edit-public-content {
  margin-top: 32px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.label-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin-right: 32px;
}

.input-container,
.textarea-container {
  flex: 1 1 auto;
}

.label-control {
  font-weight: bold;
}

.input-control {
  border: 1px solid $color-input-control;
  border-radius: 3px;
  font-size: 1em;
  height: 32px;
  padding: 0 10px;
  width: 100%;
}

.textarea-control {
  border: 1px solid $color-input-control;
  border-radius: 3px;
  font-size: 1.1em;
  height: 60px;
  resize: vertical;
  width: 100%;
}
