/* Space out content a bit */

.static-pages {
  background-color: white;
}

.container-static-pages {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header-static-pages,
.footer-static-pages {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header-static-pages h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer-static-pages {
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container-static-pages {
    max-width: 730px;
  }
}
.container-static-pages-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron-static-pages {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron-static-pages .btn-static-pages {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header-static-pages,
  .footer-static-pages {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header-static-pages {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron-static-pages {
    border-bottom: 0;
  }
}
