@import 'utilities/variables';
@import 'utilities/mixins';

.button-facebook {
  display: block;
  margin: 15px auto;
  width: 75%;
  text-align: center;

  .fa-facebook-official {
    top: 1px;
    font-size: 17px;
    position: relative;
    margin-right: 2px;
  }
}
