@import 'utilities/mixins';

.devise-registrations-edit-container {
  margin: 30px 0;

  @include phone {
    margin: 15px 0;
  }
}

.devise-registrations-edit-main-content {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 5px;

  @include phone {
    background-color: $color-body;
    border: $color-body;
  }
}

.editpage-avatar {
  margin-top: 30px;

  @include phone {
    margin-top: 10px;
  }
}

.devise-registrations-edit-public-form,
.devise-registrations-edit-privacy-form {
  margin-bottom: 30px;

  @include phone {
    margin-bottom: 10px;
  }
}

.devise-registrations-edit-privacy-form {
  margin-bottom: 0;
}

.devise-registrations-edit-avatar-field {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }
}
