@import 'utilities/variables';
@import 'utilities/mixins';

.signup {
  @include flex-container($max-height: 563px)
}

.signup-container {
  @include flex-item;

  @include phone {
    width: 80%;
    background: $color-background-gray-light;
    border: 0;
  }
}

.logo {
  font-family: 'Lobster Two';
  color: $color-text-black-light;
  text-align: center;
  font-size: 45px;
  margin: 15px 0;
}

.suggestion {
  text-align: center;
  color: $color-text-gray-light;
  font-size: 18px;
  margin: 15px 0;
}

.or {
  @extend .suggestion;
  font-size: 14px;
}

.button-signup {
  width: 100%;
  margin-top: 10px;
}
