@import 'utilities/mixins';

@media only screen and (max-height: 563px) {

  .signup-page {
    justify-content: flex-start;
  }

  .signup-page-content {
    background: #fafafa;
    border-color: #fafafa;
  }

  .shared-links-signup-page {
    background: #fafafa;
    border-color: #fafafa;
  }
}

.suggestion-to-signup {
  color: #999;
  font-size: 18px;
  margin: 15px 0;
}

.separator-for-signup-types {
  font-size: 14px;
  color: #999;
  margin: 15px 0;
}
