.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1{ style: 'margin-top: 15px;' }
  .text-center.text-muted= icon('frown-o fa-5x')
  %h4.text-center.text-muted no awesome moments
