.col-lg-4.col-md-4.col-sm-4.col-xs-4.text-center.user-post#user-post
  - if post.attachment.content_type.start_with? 'video'
    = video_tag post.attachment.media, controls: :true
  - else
    = image_tag post.attachment.media
