.container-500 {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
}

.container-500 h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin: 20px 0;
}

.container-500 p {
  font-size: 1.2em;
}
