/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');


// ---------- variables ----------

$all: #fafafa;
$container: #fff;
$container-border: #e7e7e7;
$logo: #262626;
$logo-border: #9b9b9b;
$search-border: #dbdbdb;
$search-placeholder: #999cb4;
$post-time: #999;
$line-between-comments-and-form: #efefef;

// -------------------------------

.col-centered {
  float: none;
  margin: 0 auto;
}

@mixin content-centered {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: auto;
}
// --------------------------- homepage non authenticated user ---------------------------

$homepage-non-auth-user-background: #fafafa;
$homepage-non-auth-user-logo: #262626;
$homepage-non-auth-user-forms-background: #fff;
$homepage-non-auth-user-forms-border: #e7e7e7;
$homepage-non-auth-user-sign-up-suggestion: #999;
$homepage-non-auth-user-log-in-with-facebook-btn-background: #3897f0;
$homepage-non-auth-user-log-in-with-facebook-btn: #fff;
$homepage-non-auth-user-or-sign-up-with-form-lines: #c7c7c7;
$homepage-non-auth-user-form-form-control-border: #dbdbdb;
$homepage-non-auth-user-form-form-control-focus-border: #b2b2b2;
$homepage-non-auth-user-form-form-control-placeholder: #999cb4;
$homepage-non-auth-user-links-background: #fff;
$homepage-non-auth-user-links-border: #e7e7e7;
$homepage-non-auth-user-links: #3897f3;

.homepage-non-auth-user {
  display: flex;
  justify-content: center;
  overflow: auto;
  background-color: $homepage-non-auth-user-background;
  position: fixed;
  width: 100%;
  height: 100%;
}

.homepage-non-auth-user-container {
  margin-top: 50px;
}

.homepage-non-auth-user-sign-up,
.homepage-non-auth-user-sign-in {
  background-color: $homepage-non-auth-user-forms-background;
  border: 1px solid $homepage-non-auth-user-forms-border;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.homepage-non-auth-user-logo {
  color: $homepage-non-auth-user-logo;
  font-family: 'Lobster Two';
  font-size: 45px;
  margin: 10px 0 8px;
}

.homepage-non-auth-user-sign-up-suggestion {
  color: $homepage-non-auth-user-sign-up-suggestion;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}

.homepage-non-auth-user-log-in-with-facebook {
  margin-bottom: 12px;
}

.homepage-non-auth-user-btn {
    background-color: $homepage-non-auth-user-log-in-with-facebook-btn-background;
    border: 0;
    border-radius: 4px;
    color: $homepage-non-auth-user-log-in-with-facebook-btn;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;
    outline: none;
}

.fa.fa-facebook-official {
    position: relative;
    font-size: 18px;
    top: 1px;
    margin-right: 3px;
  }

.homepage-non-auth-user-btn-on-sign-in-form {
  @extend .homepage-non-auth-user-btn;
  color: #385185;
  background: white;
  font-size: 16px;
  font-weight: lighter;
}

.homepage-non-auth-user-or-sign-up-with-form {
  @include content-centered;
  @extend .homepage-non-auth-user-sign-up-suggestion;
  font-size: 12px;

  .homepage-non-auth-user-or-sign-up-with-form-left-line {
    display: inline-block;
    background: $homepage-non-auth-user-or-sign-up-with-form-lines;
    height: 1px;
    width: 90px;
    margin-right: 15px;
  }

  .homepage-non-auth-user-or-sign-up-with-form-right-line {
    display: inline-block;
    background: $homepage-non-auth-user-or-sign-up-with-form-lines;
    height: 1px;
    width: 90px;
    margin-left: 15px;
  }
}

.homepage-non-auth-user-form {
  @include content-centered;

  .form-group {

    .actions {
      margin: 10px 0;
    }

    .form-control {
      border: 1px solid $homepage-non-auth-user-form-form-control-border;
      border-radius: 2px;
      margin-bottom: 5px;
      height: 30px;
      width: 230px;
    }

    .form-control:focus {
      border-color: $homepage-non-auth-user-form-form-control-focus-border;
      box-shadow: none;
    }

    .form-control::placeholder {
      color: $homepage-non-auth-user-form-form-control-placeholder;
    }
  }
}

.homepage-non-auth-user-sign-in-link,
.homepage-non-auth-user-sign-up-link {
  @include content-centered;
  white-space: nowrap;
  height: 60px;
  background-color: $homepage-non-auth-user-links-background;
  border: 1px solid $homepage-non-auth-user-links-border;
  border-radius: 4px;

  a {
    color: $homepage-non-auth-user-links;
    text-decoration: none;
    margin-left: 5px;
  }
}



$ef: #efefef;
$nine: #999;
$b2: #b2b2b2;
$col-3897f0: #3897f0;
$col-e6: #e6e6e6;



// ---------------------------------------------------- header

.header {
  width: 100%;
  background: $container;
  border-bottom: 1px solid $container-border;
}

.logo,
.links,
.search {
  height: 77px;
  @include content-centered;
}

.fa-instagram {
  color: $logo;
  font-size: 35px;
  cursor: pointer;

  &::after {
    border-left: 1px solid $logo-border;
    bottom: 3px;
    content: 'Kotogram';
    font-family: 'Lobster Two';
    font-size: 25px;
    margin-left: 18px;
    padding-left: 15px;
    position: relative;
  }
}

.search input {
  width: 210px;
  height: 30px;
  text-align: center;
  border: 1px solid $search-border;
  border-radius: 3px;
  background: $all;
  padding: 0 10px;
}

.search input:focus {
  background-color: $container;
  box-shadow: none;
  position: relative;
  text-align: left;
  outline: none;
}


.search input::placeholder {
  color: $search-placeholder;
}

.fa-circle-thin,
.fa-heart-o {
  color: $logo;
  font-size: 20px;
  cursor: pointer;
  margin-right: 60px;
}

.fa-user-o {
  @extend .fa-heart-o;
  margin-right: 0px;
}

// ----------------------------------------- user homepage

.user-home {
  background: $all
}

.user-home-container {
  padding-top: 50px;
}

.user-home-post {
  background: $container;
  margin-bottom: 50px;
}

.user-home-post-header {
  border: 1px solid $container-border;
  border-radius: 4px;
}

.user-home-post-user-info {
  height: 60px;
  display: flex;
  align-items: center;
}

.user-home-post-avatar {
  display: inline-block;
  margin: 0 10px 0 5px;

  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  a {
    display: inline-block;
    height: inherit;
    width: inherit;
  }
}

.user-home-post-username {
  display: inline-block;

  a {
    color: $logo;
    text-decoration: none;
    font-weight: bold;
  }
}

.user-home-post-time-and-link {
  @extend .user-home-post-user-info;
  justify-content: flex-end;

  a {
    color: $post-time;
    text-decoration: none;
    margin-right: 5px;
  }
}

.user-home-post-attachment {
  padding: 0;

  img {
    height: inherit;
    width: inherit;
  }
}

.user-home-post-comments {
  border: 1px solid $container-border;
  border-radius: 4px;
}

.user-home-post-comments-show {
  padding: 15px;
}

.user-home-post-comment {
  margin-bottom: 10px;
}

.user-home-post-commentor {
  display: inline-block;
  margin: 0 10px 0 5px;

  a {
    color: $logo;
    font-weight: bold;
    text-decoration: none;
  }
}

.user-home-post-comment-body {
  display: inline-block;
}

.user-home-post-with-tags-or-links {
  a {
    color: #337ab7;
    text-decoration: none;
  }
}

.user-home-post-comments-line {
  height: 1px;
  background: $line-between-comments-and-form;
}

.user-home-post-comment-form {
  padding: 20px 15px;
  form {
    display: inline-block;
    margin-left: 50px;
    width: 400px;
  }

  input {
    border: none;
    width: 400px;
    padding-left: 10px;
    height: 19px;
  }

  input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
  }

  input::placeholder {
    color: $post-time;
    font-size: 15px;
    line-height: 20px;
  }
}

// ----------------- indexpage authenticated user -----------------

.user-index {
  height: 100vh;
  background: $all;
}
.user-index-container {
  margin-top: 50px;
  background: $container;
  border: 1px solid $container-border;
  border-radius: 4px;
}

.user-index-users-finded {
  font-weight: bold;
  padding: 10px 15px;
}

.user-index-user {
  padding: 15px;
  border-top: 1px solid $container-border;
}

.user-index-user-avatar {
  display: inline-block;
  margin-right: 10px;
  a {
    width: 28px;
    height: 28px;
  }

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
  }
}

.user-index-user-link {
  display: inline-block;

  a {
    font-weight: bold;
    color: #363636;
    text-decoration: none;
  }
}
