/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$white: #fff;
$light-gray: #fafafa;
$light-gray-header-border: #e7e7e7;
$light-black-logo: #262626;
$light-black-logo-border: #939393;
$light-gray-search-form-border: #dbdbdb;
$light-gray-fontawesome-search-icon: #999cb4;

$ef: #efefef;
$nine: #999;
$b2: #b2b2b2;
$col-3897f0: #3897f0;
$col-e6: #e6e6e6;


.container-fluid {
  background-color: $light-gray;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

//.container.main-content {
//  background-color: $white;
//  height: inherit;
//  margin-top: 60px;
//  width: 602px;
//  border: 1px solid #e6e6e6;
//  border-radius: 4px;
//}

// ---------- homepage for non-authenticated user, lg ----------

$light-blue-homepage-non-auth-user-sign-up-in-link: #527abb;


.homepage-non-auth-user {
  align-items: center;
  background-color: $light-gray;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
}


.homepage-non-auth-user-kotogram-browser-image {
  background-image: image-url('kotogramBrowser.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.homepage-non-auth-user-join {
  background-color: $white;
  border: 1px solid $light-gray-header-border;
  border-radius: 4px;
}

.homepage-non-auth-user-logo {
  align-items: center;
  display: flex;
  font-family: 'Lobster Two';
  font-size: 300%;
  height: 80px;
  justify-content: center;
}

.homepage-non-auth-user-form {
  margin-bottom: 10px;
  text-align: center;
}

.homepage-non-auth-user-links {
  background-color: $white;
  border: 1px solid $light-gray-header-border;
  border-radius: 4px;
  height: 80px;
  margin-top: 10px;
  text-align: center;
}

.homepage-non-auth-user-sign-in-link,
.homepage-non-auth-user-sign-up-link {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  white-space: pre-wrap;

  a {
    color: $light-blue-homepage-non-auth-user-sign-up-in-link;
    text-decoration: none;
  }
}


.navbar-form.homepage-non-auth-user-sign-up-form,
.navbar-form.homepage-non-auth-user-sign-in-form {
  align-items: center;
  display: flex;
  justify-content: center;

  .input-group {
    margin-bottom: 5px;
  }

  .form-control {
    border-color: $light-gray-search-form-border;
    border-radius: 2px;
    height: 30px;
    width: 230px;
  }

  .form-control:focus {
    border-color: $b2;
    box-shadow: none;
  }

  .form-control::placeholder {
    color: $light-gray-fontawesome-search-icon;
  }

  .btn.btn-default {
    background-color: $col-3897f0;
    color: $white;
    font-weight: 600;
    height: 30px;
    line-height: 28px;
    margin-top: 5px;
    padding: 0;
    width: 230px;
  }
}


// ---------- header for authenticated user, lg ----------------

.nav.navbar-default {
  background-color: $white;
  border-bottom: 1px solid $light-gray-header-border;
  height: 77px;
}

.container.header {
  height: inherit;
}

.row {
  height: inherit;
}

.col-lg-4 {
  height: inherit;
}

.navbar-header {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);

  a {
    display: block;
    height: inherit;

    .fa.fa-instagram {
      color: $light-black-logo;
      font-size: 260%;
    }

    .fa.fa-instagram::after {
      border-left: 1px solid $light-black-logo-border;
      bottom: 3px;
      content: 'Kotogram';
      font-family: 'Lobster Two';
      font-size: 70%;
      margin-left: 18px;
      padding-left: 15px;
      position: relative;
    }

  }

}

.auth-user-header-search-form {
  left: 50%;
  position: relative;
  top: 43%;
  transform: translate(-50%, -50%);

  .form-group {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);

    .form-control {
      border-color: $light-gray-search-form-border;
      border-radius: 3px;
      border-width: 1px;
      height: 30px;
      left: 50%;
      position: relative;
      text-align: center;
      transform: translate(-50%, 0%);
      width: 215px;

    }

    .form-control,
    textarea {
      background: $light-gray;
    }

    .form-control:focus {
      background-color: $white;
      box-shadow: none;
      position: relative;
      text-align: left;
    }

    .form-control::placeholder {
      color: $light-gray-fontawesome-search-icon;
    }

  }

}

.nav.navbar-nav {
  left: 50%;
  position: relative;
  top: 54%;
  transform: translate(-50%, -50%);

  .explore a {
    display: inline-block;
  }

  .fa.fa-circle-thin {
    color: $light-black-logo;
    font-size: 160%;
  }

  .news {
    margin-left: 30px;
  }

  .fa.fa-heart-o {
    color: $light-black-logo;
    font-size: 160%;
  }

  .profile {
    margin-left: 30px;
  }

  .fa.fa-user-o {
    color: $light-black-logo;
    font-size: 160%;
  }
}

// ----------------------------------------- user's homepage, lg -----------------------------------------

.container.user-homepage.lg {
  margin-top: 60px;
  max-height: 100%;
  width: 602px;
}

.feed-item {
  background-color: $white;
  margin-bottom: 60px;
  width: inherit;
}

.feed-item-header {
  border: 1px solid $col-e6;
  border-radius: 4px;
  height: 64px;

  .col-lg-7 {
    height: inherit;
  }

  .col-lg-5 {
    height: inherit;
  }
}

.feed-item-user-avatar-link {

  img {
    border-radius: 50%;
  }
}

.fa.fa-user-o {
  color: $light-black-logo;
  font-size: 200%;
  position: relative;
}

.feed-item-user {
  padding-left: 5px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.feed-item-user-link {
  color: $light-black-logo;
  display: inline-block;
  font-weight: 600;
  left: 8px;
  position: relative;
}

.feed-item-user-link:hover {
  color: $light-black-logo;
  text-decoration: none;
}

.feed-item-time {
  color: $nine;
  padding-right: 5px;
  position: relative;
  text-align: right;
  top: 50%;
  transform: translate(0%, -50%);
}

.feed-item-image {
  border-left: 1px solid $ef;
  border-right: 1px solid $ef;
  margin: 0;
  overflow: hidden;
  width: inherit;
}

.feed-item-comments {
  border: 1px solid $ef;
  border-radius: 4px;
  padding: 0 24px;
}

.feed-item-comments-show {
  border-bottom: 1px solid $ef;
  padding: 15px 0;
}

.feed-item-commentor-link {
  color: $light-black-logo;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

.feed-item-commentor-link:hover {
  color: $light-black-logo;
  text-decoration: none;
}

.feed-item-comment-body {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.feed-item-comments-form {
  height: 55px;
  margin-top: 25px;
}

.feed-item-comment-textarea {
  border: 0;
  font-size: 15px;
  height: 27px;
  margin-left: 50px;
  overflow: hidden;
  position: relative;
  resize: none;
  width: 450px;
}

.feed-item-comment-textarea:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}
