@import "utilities/mixins";

.form-comment {

  @include large-desktop {
  }

  @include desktop {
  }
}

.form-comment-input {

  @include large-desktop {
    width: 100%;
    border: none;
    color: #262626;
    box-shadow: none;
    outline: none;
    height: 18px;
    resize: none;
  }

  @include desktop {
    width: 100%;
    border: none;
    color: #262626;
    box-shadow: none;
    outline: none;
    height: 18px;
    resize: none;
  }
}

.comment {
  font-size: 15px;
  padding-top: 5px;
  margin-top: -5px;
  padding-bottom: 6px;
  word-break: break-all;
  overflow: hidden;
}

.comment-user-username-link {
  font-weight: 600;
  float: left;
  clear: left;
  margin-right: 3px;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #262626;
  }
}

.comment-likes {
  float: left;
  clear: left;
  margin-right: 5px;
  max-height: 20px;
}

.form-comment-like,
.form-comment-dislike {
  display: inline-block;
  max-height: 20px;
}

.btn-comment-like,
.btn-comment-dislike {
  background: white;
  border: 0;
  box-shadow: none;
  outline: none;
  padding-right: 2px;
}

.btn-comment-dislike .fa-heart {
  color: #ed4956;
  font-size: 14px;
}

.btn-comment-like .fa-heart-o {
  color: #262626;
  font-size: 14px;
}

.comment-delete-link {
  display: block;
  float: right;
  clear: right;
  background: transparent;
  border: none;
  color: #c7c7c7;
  cursor: pointer;
  height: 1em;
  width: 1em;
  overflow: hidden;
  padding: 0;
  margin-left: 10px;

  &:before {
    display: block;
    content: '\2715';
    width: inherit;
    height: inherit;
  }
}
