.comment {
  min-height: 40px;
  margin-bottom: 7px;
  word-break: break-all;
  line-height: 20px;

  &:hover .comment-delete-icon { display: flex; }
}

.commenter {
  float: left;
  clear: left;
  margin-right: 3px;
  color: #262626;
}

.comment-likes {
  float: left;
  clear: left;
  margin-right: 5px;
  max-height: 20px;
}

.form-comment-like,
.form-comment-dislike {
  display: inline-block;
  max-height: 20px;
}

.btn-comment-like,
.btn-comment-dislike {
  background: white;
  border: 0;
  box-shadow: none;
  outline: none;
  padding-right: 2px;
}

.btn-comment-dislike .fa-heart {
  color: #ed4956;
  font-size: 14px;
}

.btn-comment-like .fa-heart-o {
  color: #262626;
  font-size: 14px;
}

.comment-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  clear: right;
  width: 40px;
  height: 40px;
  margin-right: 0;
}

.comment-delete-icon {
  display: none;
  align-items: center;
  justify-content: center;
  color: #999;
  width: 20px;
  height: 20px;
  text-decoration: none;

  > .fa-times {
    font-size: 18px;
  }
}
