.form-comment-input {
  border: 0;
  box-shadow: none;
  color: $color-mine-shaft;
  height: 18px;
  outline: none;
  resize: none;
  width: 100%;
}

.comment {
  font-size: 15px;
  margin-top: -5px;
  overflow: hidden;
  padding-bottom: 6px;
  padding-top: 5px;
  word-break: break-all;
}

.comment-user-username-link {
  clear: left;
  float: left;
  font-weight: 600;
  margin-right: 3px;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-mine-shaft;
  }
}

.comment-likes {
  clear: left;
  float: left;
  margin-right: 5px;
  max-height: 20px;
}

.form-comment-like,
.form-comment-dislike {
  display: inline-block;
  max-height: 20px;
}

.btn-comment-like,
.btn-comment-dislike {
  background-color: $color-white;
  border: 0;
  box-shadow: none;
  outline: none;
  padding-right: 2px;
}

.btn-comment-dislike .fa-heart {
  color: $color-amaranth;
  font-size: 14px;
}

.btn-comment-like .fa-heart-o {
  color: $color-mine-shaft;
  font-size: 14px;
}

.comment-delete-link {

  @include desktop {
    background: transparent;
    border: 0;
    clear: right;
    color: $color-silver;
    cursor: pointer;
    display: block;
    float: right;
    height: 15px;
    margin-left: 10px;
    overflow: hidden;
    padding: 0;
    width: 10px;

    &:before {
      content: '\2715';
      display: block;
      height: inherit;
      width: inherit;
    }
  }

  @include tablet-phone { display: none; }
}
