@import "utilities/variables";

html { height: 100%; }
body {
  height: 100%;
  background-color: $color-body;
  overflow-y: scroll;
  overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $color-link;
}
