html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fafafa;
}

.main-content {
  margin-top: 121px;

  @media screen and (max-width: 767px) {
    margin-top: 91px;
  }
}
