@import 'custom/utilities/variables';
@import 'custom/utilities/mixins';

.footer {
  @include desktop { display: none; }

  @include tablet-phone {
    background-color: $color-white;
    border-top: 1px solid $color-white-very-lighten;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  section {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
  }

  .home,
  .search,
  .news,
  .profile,
  .post {
    background-color: transparent;
    background-image: image-url('1.png');
    background-size: 401px 355px;
    border: 0;
    height: 24px;
    padding: 0;
    width: 24px;
  }

  .home { background-position: -150px -331px; }
  .search { background-position: -325px -331px; }
  .post {
    background-position: -176px -112px;
    height: 21px;
  }

  .news { background-position: 0 -331px; }
  .profile { background-position: -275px -331px; }
}
