@import 'custom/utilities/variables';
@import 'custom/utilities/mixins';

.header-tablet-mobile {
  @include tablet-phone { height: 45px; }
}

.header-authorized-user {
  background-color: $color-white;
  border-bottom: 1px solid $color-white-very-lighten;
  display: flex;
  justify-content: center;
  width: 100%;

  @include desktop { height: 77px; }

  @include tablet-phone {
    height: 45px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

.nav-authorized-user {
  align-items: center;
  display: flex;
  width: 100%;

  @include desktop {
    height: 76px;
    max-width: 1024px;

    h1, button { display: none; }
  }

  @include tablet-phone {
    height: 44px;
    padding: 0 16px;

    button {
      background: 0;
      background-image: image-url('kotogram.png');
      background-position: -288px -180px;
      border: 0;
      height: 24px;
      left: 16px;
      padding: 0;
      position: absolute;
      top: 10px;
      width: 30px;
    }

    h1 {
      flex-grow: 1;
      font-family: 'Lobster Two';
      font-size: 26px;
      line-height: 24px;
      margin: 0;
      text-align: center;
    }
  }
}

#kotogram {
  border-left: 1px solid $color-gray;
  color: $color-mine-shaft;
  font-family: 'Lobster Two';
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 0 22px;
  padding: 3px 0 3px 17px;

  @include phone {
    display: none;
  }
}

.logo {

  @include desktop {
    align-items: center;
    color: $color-mine-shaft;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;

    &:hover,
    &:active,
    &:focus {
      color: $color-mine-shaft;
      text-decoration: none;
    }

    .fa-instagram {
      color: $color-mine-shaft;
      display: block;
      font-size: 38px;
    }
  }

  @include tablet-phone {
    display: none;
  }
}

.header-nav-explore {
  @include desktop { display: none; }
}

.nav-authorized-user-left {
  @include desktop {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 5px auto 0;
  }

  @include tablet-phone {
    display: none;
  }
}

#profile-link {
  background-image: image-url('kotogram.png');
  background-position: -27px -338px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.aa-input-container,
.algolia-autocomplete {
  @include desktop {
    display: block;
    height: 28px;
    margin: 2px auto 0;
    width: 215px;
  }

  @include tablet-phone {
    display: none;
  }
}

.aa-input-search {
  background-color: $color-alabaster;
  border: 1px solid $color-alto;
  border-radius: 3px;
  box-shadow: none;
  color: $color-mine-shaft;
  font-size: 14px;
  height: 100%;
  outline: none;
  padding: 3px 10px;
  text-align: center;
  width: 100%;

  &:focus,
  &:active {
    background-color: $color-white;
    text-align: left;
  }

  &::placeholder {
    color: $color-gray-dusty;
  }
}

.aa-dropdown-menu {
  background-color: $color-white;
  border: 1px solid $color-mercury;
  border-radius: 3px;
  box-shadow: 0 0 5px $color-white-very-lighten;
  left: -14px;
  margin-top: 18px;
  max-height: 364px;
  overflow-y: auto;
  width: 243px;
}

.algolia-user-link,
.algolia-tag-link {
  align-items: center;
  border-bottom: 1px solid $color-gallery;
  display: flex;
  height: 67px;
  padding: 8px 14px;
  width: 100%;

  &:hover {
    background-color: $color-alabaster;
  }
}

.algolia-tag-link > .fa-hashtag {
  color: $color-gray-dusty;
  font-size: 17px;
  margin: 0 18px 0 10px;
}

.algolia-user-avatar {
  border-radius: 50%;
  height: 32px;
  margin: 0 10px 0 0;
  width: 32px;
}

.algolia-user-username,
.algolia-tag-container {
  color: $color-mine-shaft;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: -4px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:visited {
    color: $color-mine-shaft;
  }
}

.algolia-user-full-name {
  color: $color-gray-dusty;
  font-weight: 300;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
