$white: #fff;
$light-gray: #fafafa;
$light-gray-header-border: #e7e7e7;
$light-black-logo: #262626;
$light-black-logo-border: #939393;
$light-gray-search-form-border: #dbdbdb;
$light-gray-fontawesome-search-icon: #999cb4;

.container-fluid {
  background-color: $light-gray;
  height: 3000px;
}

.container.main-content {
  background-color: $white;
  height: inherit;
  margin-top: 60px;
  width: 602px;
}

.nav.navbar-default {
  background-color: $white;
  border-bottom: 1px solid $light-gray-header-border;
  height: 77px;
}

.container.header {
  height: inherit;
}

.row {
  height: inherit;
}

.col-lg-4 {
  height: inherit;
}

.navbar-header {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);

  a {
    display: block;
    height: inherit;

    .fa.fa-instagram {
      color: $light-black-logo;
      font-size: 260%;
    }

    .fa.fa-instagram::after {
      border-left: 1px solid $light-black-logo-border;
      bottom: 3px;
      content: 'Kotogram';
      font-family: 'Lobster Two';
      font-size: 70%;
      margin-left: 18px;
      padding-left: 15px;
      position: relative;
    }

  }

}

.navbar-form {
  left: 50%;
  position: relative;
  top: 43%;
  transform: translate(-50%, -50%);

  .form-group {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);

    .form-control {
      border-color: $light-gray-search-form-border;
      border-radius: 3px;
      border-width: 1px;
      height: 30px;
      left: 50%;
      position: relative;
      text-align: center;
      transform: translate(-50%, 0%);
      width: 215px;

    }

    .form-control,
    textarea {
      background: $light-gray;
    }

    .form-control:focus {
      background-color: $white;
      box-shadow: none;
      position: relative;
      text-align: left;
    }

    .form-control::placeholder {
      color: $light-gray-fontawesome-search-icon;
    }

  }

}

.nav.navbar-nav {
  left: 50%;
  position: relative;
  top: 54%;
  transform: translate(-50%, -50%);

  .explore a {
    display: inline-block;
  }

  .fa.fa-circle-thin {
    color: $light-black-logo;
    font-size: 160%;
  }

  .news {
    margin-left: 30px;
  }

  .fa.fa-heart-o {
    color: $light-black-logo;
    font-size: 160%;
  }

  .profile {
    margin-left: 30px;
  }

  .fa.fa-user-o {
    color: $light-black-logo;
    font-size: 160%;
  }
}
