/* Space out content a bit */

.container-static-pages-home {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header-static-pages-home {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 10px;
}

.header-static-pages-home h1 {
  margin: 0;
  margin-left: 15px;
  padding-left: 10px;
  font-family: 'Lobster Two';
  font-size: 2em;
  border-left: 1px solid #939393;
}

.nav-static-pages-home {
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-static-pages-home {
    max-width: 730px;
  }
}

@media (max-width: 767px) {
  .header-static-pages-home .fa-instagram {
    display: none;
  }

  .header-static-pages-home h1 {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
  }
}

/* Main marketing message and sign up button */
.jumbotron-static-pages {
  background: white;
  border: 1px solid #e6e6e6;
}
.jumbotron-static-pages .btn-static-pages {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header-static-pages,
  .footer-static-pages {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header-static-pages {
    border-bottom: 1px solid #e5e5e5;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}
