@import 'utilities/mixins';

.users-feed-container {
  margin-top: 50px;

  @include phone {
    margin-top: 20px;
  }
}

.users-feed-post {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: white;
  margin-bottom: 50px;
}

.users-feed-post-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.users-feed-post-header-username {
  margin-left: 5px;
  color: #262626;
}

.users-feed-post-time {
  margin-left: auto;
}

.users-feed-post-description {
  margin-top: 5px;
  margin-bottom: 5px;
  word-break: break-all;
}

.users-feed-new-comment .new_comment {
  margin-bottom: 15px;

  @include phone {
    margin-bottom: 5px;
  }
}

.btn-post-like,
.btn-post-dislike {
  box-shadow: none;
  background: white;
  border: 0;
  outline: none;
}

.btn-post-like .fa-heart-o {
  font-size: 24px;
  color: #262626;
}

.btn-post-dislike .fa-heart {
  font-size: 24px;
  color: #ed4956;
}

.users-feed-post-comments-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1px;
  overflow-y: auto;
  overflow-x: hidden;

  @include large-desktop {
    max-height: 300px;
  }

  @include desktop {
    max-height: 250px;
  }

  @include tablet {
    max-height: 200px;
  }

  @include phone {
    max-height: 150px;
  }
}
