@import 'utilities/mixins';

.users-home-main-container {
  overflow: hidden;
}

.users-home-container {
  @include large-desktop {
    width: 600px;
    margin: 60px auto 60px auto;
  }

  @include desktop {
    width: 600px;
    margin: 60px auto 60px auto;
  }
}

.users-home-suggestions-main-container {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  margin: 0 -1px 20px -1px;
  padding: 0;
  list-style: none;
}

.users-home-suggestion-user {
  border-bottom: solid 1px #efefef;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  flex-direction: row;

  &:last-child {
    border-bottom: 0;
  }
}

.users-home-suggestion-for-you-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 8px;
}

.users-home-suggestions-for-you {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.users-home-suggestions-for-you-see-all {
  font-size: 15px;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #3897f0;
  }
}

.users-home-suggestions-for-you-see-all-icon-container {
  display: inline-block;
  margin-left: 8px;
  background-color: transparent;
  background-image: image-url("kotogram.png");
  background-position: -397px -188px;
  height: 11px;
  width: 6px;
}

.users-home-suggestion-user-avatar-link {
  display: block;
  width: 56px;
  height: 56px;
}

.users-home-suggestion-user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.users-home-suggestion-user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.users-home-suggestion-user-username-link {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #262626;
  }
}

.users-home-suggestion-user-full-name {
  width: 100%;
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users-home-post-container {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;

  @include large-desktop {
    margin-bottom: 60px;
    margin-left: -1px;
    margin-right: -1px;
  }

  @include desktop {
    margin-bottom: 60px;
    margin-left: -1px;
    margin-right: -1px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.users-home-post-header {

  @include large-desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #efefef;
    height: 60px;
    padding: 16px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #efefef;
    height: 60px;
    padding: 16px;
  }
}

.users-home-post-header-avatar-link {

  @include large-desktop {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  @include desktop {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}


.users-home-post-header-avatar-image {

  @include large-desktop {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  @include desktop {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.users-home-post-header-username-link {

  @include large-desktop {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 14px;

    &:visited,
    &:hover,
    &:active {
      color: #262626;
    }
  }

  @include desktop {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 14px;

    &:visited,
    &:hover,
    &:active {
      color: #262626;
    }
  }
}

.users-home-post-header-date-link {
  @include large-desktop {
    margin-left: auto;
  }

  @include desktop {
    margin-left: auto;
  }
}


.users-home-post-header-date {

  @include large-desktop {
    color: #999;
    font-size: 13px;

    &:visited,
    &:hover,
    &:active {
      color: #999;
    }
  }

  @include desktop {
    color: #999;
    font-size: 13px;

    &:visited,
    &:hover,
    &:active {
      color: #999;
    }
  }
}

.users-home-post-attachment-container {

  @include large-desktop {
    overflow: hidden;
    width: 100%;

    &:hover .fa-play { visibility: visible; opacity: 1; }
  }

  @include desktop {
    overflow: hidden;
    width: 100%;

    &:hover .fa-play { visibility: visible; opacity: 1; }
  }
}

.users-home-post-attachment {
  @include large-desktop {
    height: 100%;
    width: 100%;
  }

  @include desktop {
    height: 100%;
    width: 100%;
    margin-left: -1px;
  }
}

.users-home-post-videocamera-image {
  @include large-desktop {
    margin-left: auto;
    height: 40px;
    width: 40px;
    padding: 6px;
    margin-right: -6px;
  }

  @include desktop {
    margin-left: auto;
    height: 40px;
    width: 40px;
    padding: 6px;
    margin-right: -6px;
  }
}

.video {
  cursor: pointer;
}

.play-icon-container {

  @include large-desktop {
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-play {
      position: absolute;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      transition-delay: .1s;
      pointer-events: none;
      cursor: pointer;
      color: white;
    }
  }

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-play {
      position: absolute;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      transition-delay: .1s;
      pointer-events: none;
      cursor: pointer;
      color: white;
    }
  }
}

.users-home-post-info-container {

  @include large-desktop {
    padding: 0 16px;
  }

  @include desktop {
    padding: 0 16px;
  }
}

.users-home-post-like-dislike-container {

  @include large-desktop {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
}

.form-post-like,
.form-post-dislike {

  @include large-desktop {
    height: 40px;
    width: 40px;
    padding: 9px;
    margin-left: -9px;
  }

  @include desktop {
    height: 40px;
    width: 40px;
    padding: 9px;
    margin-left: -9px;
  }
}

.button-post-like,
.button-post-dislike {
  width: 22px;
  height: 22px;
  padding: 0;
  box-shadow: none;
  background: white;
  border: 0;
  outline: none;
}

.button-post-like .fa-heart-o {
  font-size: 22px;
  color: #262626;
}

.button-post-dislike .fa-heart {
  font-size: 22px;
  color: #ed4956;
}

.users-home-post-likes-container {

  @include large-desktop {
  }

  @include desktop {
  }
}

.likes {

  @include large-desktop {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
  }

  @include desktop {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
  }
}

.users-home-post-description-container {

  @include large-desktop {
    margin: 5px 0 7px 0;
  }

  @include desktop {
    margin: 5px 0 7px 0;
  }
}

.users-home-post-description-username-link {

  @include large-desktop {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    margin-right: 3px;

    &:visited,
    &:hover,
    &:active {
      color: #262626;
    }
  }

  @include desktop {
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    margin-right: 3px;

    &:visited,
    &:hover,
    &:active {
      color: #262626;
    }
  }
}
.users-home-post-description {

  @include large-desktop {
    word-break: break-all;
  }

  @include desktop {
    word-break: break-all;
  }
}

.users-home-post-comments-container {

  @include large-desktop {
    max-height: 300px;
    list-style: none;
    padding: 0;
    margin-bottom: 1px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @include desktop {
    max-height: 300px;
    list-style: none;
    padding: 0;
    margin-bottom: 1px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.users-home-post-comment-form-container {

  @include large-desktop {
    padding: 16px 26px 16px 0;
    margin-top: 4px;
    border-top: 1px solid #efefef;
  }

  @include desktop {
    padding: 16px 26px 16px 0;
    margin-top: 4px;
    border-top: 1px solid #efefef;
  }
}

.form-comment {

  @include large-desktop {
  }

  @include desktop {
  }
}

.form-comment-input {

  @include large-desktop {
    width: 100%;
    border: none;
    color: #262626;
    box-shadow: none;
    outline: none;
    height: 18px;
    resize: none;
  }

  @include desktop {
    width: 100%;
    border: none;
    color: #262626;
    box-shadow: none;
    outline: none;
    height: 18px;
    resize: none;
  }
}

.users-home-welcome-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: -1px;
  margin-right: -1px;
  padding: 55px 30px;
}

.users-home-welcome-icon-container {
  align-self: center;
  width: 55px;
  height: 47px;
  background-color: transparent;
  background-image: image-url("kotogram.png");
  background-position: 0 -289px;
}

.users-home-welcome-to-kotogram {
  font-weight: 600;
  margin: 30px 0 15px;
  color: #262626;
  text-align: center;
  font-size: 16px;
}

.users-home-follow-accounts {
  font-size: 16px;
  color: #262626;
  text-align: center;
}
