@import 'utilities/mixins';

.users-show-container {
  margin-top: 30px;
  margin-bottom: 15px;

  @include phone {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.post-attachment {
  width: 100%;

  @include large-desktop {
    height: 284px;
  }

  @include desktop {
    height: 229px;
  }
}

.user-post {
  padding-top: 15px;
  padding-bottom: 15px;
}

#user-post {
  @include phone {
    padding: 10px;
  }
}

#user-posts-options {
  @include tablet {
    display: none;
  }

  @include phone {
    display: none;
  }
}
