@import 'custom/utilities/variables';
@import 'custom/utilities/mixins';

.users-show-main-container {

  @include desktop {
    overflow: hidden;
  }
}

.users-show-container {

  @include desktop {
    margin: 60px auto;
    overflow: hidden;
    width: 935px;
  }
}

.users-show-header {

  @include desktop {
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;
  }
}

.users-show-header-avatar-main-container {

  @include desktop {
    flex-grow: 1;
  }
}

.users-show-header-avatar-container {

  @include desktop {
    align-items: center;
    display: flex;
    height: 152px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 152px;
  }
}

.users-show-header-avatar {
  @include desktop {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.users-show-header-info-main-container {
  @include desktop {
    flex-grow: 2;
  }
}

.users-show-header-info-top {
  @include desktop {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.users-show-header-info-top-username {
  @include desktop {
    color: $color-mine-shaft;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    margin: 0 20px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.users-show-header-info-top-edit-profile-link,
.users-show-header-info-top-new-post-btn,
.users-show-header-info-top-my-posts-btn {

  @include desktop {
    background-color: transparent;
    border: 1px solid $color-alto;
    border-radius: 3px;
    box-shadow: none;
    color: $color-mine-shaft;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-mine-shaft;
    }
  }
}

.users-show-header-info-top-new-post-btn,
.users-show-header-info-top-my-posts-btn {
  @include desktop {
    margin-left: 7px;
  }
}

.users-show-header-info-top-settings-container {
  @include desktop {
    margin-left: 7px;
  }
}

#users-show-header-info-top-settings {
  @include desktop {
    background-color: transparent;
    background-image: image-url('kotogram.png');
    background-position: -243px -289px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 24px;
    outline: none;
    padding: 0;
    width: 24px;
  }
}

#users-show-settings-modal {
  @include desktop {
    align-items: center;
    background-color: $color-white-lighten;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

#users-show-settings-modal-content {

  @include desktop {
    background-color: $color-white;
    border: 0;
    width: 500px;
  }
}

#users-show-settings-modal-content-container {
  @include desktop {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.users-show-settings-modal-content-item {
  @include desktop {
    background-color: $color-white;
    border-bottom: 1px solid $color-alto;
    height: 51px;
  }
}

#users-show-settings-modal-logout-link,
#users-show-settings-modal-cancel {

  @include desktop {
    background-color: $color-white;
    border: 0;
    box-shadow: none;
    color: $color-mine-shaft;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-mine-shaft;
    }

    &:hover {
      background-color: $color-alto;
    }
  }
}


.users-show-header-info-middle {
  @include desktop {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
  }
}

.users-show-header-info-middle-item {

  @include desktop {
    font-size: 16px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#users-show-header-info-middle-item-followers,
#users-show-header-info-middle-item-following {
  cursor: pointer;
}

#users-show-followers-modal,
#users-show-following-modal {

  @include desktop {
    align-items: center;
    background-color: $color-white-lighten;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

#users-show-followers-modal-content,
#users-show-following-modal-content {

  @include desktop {
    align-items: center;
    background-color: $color-white;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
  }
}

#users-show-followers-modal-content-followers,
#users-show-following-modal-content-following {
  background-color: $color-white;
  border-bottom: solid 1px $color-alto;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  width: 500px;
}

#users-show-followers-modal-content-container,
#users-show-following-modal-content-container {
  @include desktop {
    flex: 1 1 auto;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    width: 500px;
  }
}

.users-show-followers-modal-content-item,
.users-show-following-modal-content-item {
  align-items: center;
  border-bottom: 1px solid $color-gallery;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;

  &:last-child {
    border-bottom: 0;
  }
}

.users-show-followers-modal-content-avatar-link,
.users-show-following-modal-content-avatar-link {
  height: 30px;
  margin-right: 13px;
  width: 30px;
}

.users-show-followers-modal-content-avatar,
.users-show-following-modal-content-avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.users-show-followers-modal-content-user-info,
.users-show-following-modal-content-user-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.users-show-followers-modal-content-username,
.users-show-following-modal-content-username {
  color: $color-mine-shaft;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-mine-shaft;
  }
}

.users-show-followers-modal-content-full-name,
.users-show-following-modal-content-full-name {
  color: $color-gray-dusty;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $color-gray-dusty;
  }
}

.users-show-header-info-bottom {

  @include desktop {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
  }
}

.users-show-header-info-bottom-full-name {

  @include desktop {
    font-size: inherit;
    font-weight: 600;
    margin: 0;
    word-break: break-all;
  }
}

.users-show-posts-no-posts-container {
  @include desktop {
    background-color: $color-white;
    display: flex;
    flex-direction: row;
  }
}

.users-show-posts-no-posts-image-container {
  @include desktop {
    height: 380px;
    width: 380px;
  }
}

.users-show-posts-no-posts-image {
  @include desktop {
    height: 100%;
    width: 100%;
  }
}

.users-show-posts-no-posts-info-main-container {
  @include desktop {
    flex-basis: 555px;
  }
}

.users-show-posts-no-posts-info-container {
  @include desktop {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
  }
}

.users-show-posts-no-posts-start-capturing {

  @include desktop {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 13px;
  }
}


#new_post {
  text-align: center;
}

#post_attachment_attributes_media {
  margin-bottom: 13px;
}

#post_description {
  margin-bottom: 3px;
  max-width: 265px;
  width: 265px;
}

.new-post {
  @include desktop {
    display: block;
  }
}

.users-show-posts-row {
  display: flex;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.users-show-post-container {
  @include desktop {
    display: flex;
    height: 293px;
    justify-content: flex-end;
    margin-right: 28px;
    width: 293px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.users-show-video-icon {
  @include desktop {
    align-items: center;
    background-image: image-url('kotogram.png');
    background-position: -355px 0;
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    visibility: visible;
    width: 48px;
    z-index: 1;
  }
}

.users-show-post-link {
  @include desktop {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
}

.users-show-post-attachment {
  min-height: 100%;
}

.users-show-posts-no-posts-another-user-container {
  @include desktop {
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-gallery;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
  }
}

.users-show-posts-no-posts-another-user-container-info {
  @include desktop {
    color: $color-mine-shaft;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }
}

.btn-follow,
.btn-unfollow {

  @include desktop {
    background-color: $color-blue-picton;
    border: 1px solid $color-blue-picton;
    border-radius: 3px;
    box-shadow: none;
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    outline: none;
    overflow: hidden;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.btn-unfollow {
  background-color: transparent;
  border-color: $color-alto;
  color: $color-mine-shaft;
}
