@import 'utilities/variables';
@import 'utilities/mixins';

.post-show-attachment {
  padding: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 488px;
    border-radius: 3px 0 0 3px;
  }
}

.post-show-about {
  background: $container;
  border: 1px solid $container-border;
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.post-show-user-avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 15px 5px;

  img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
  }
}

.post-show-user-username {
  display: inline-block;
  color: $logo;
  font-size: 15px;
  font-weight: bold;

  &:hover,
  &:active,
  &:visited {
    color: $logo;
  }
}

.post-show-relationships-form {
  height: 30px;
  width: 95px;
  margin: 20px 5px 20px auto;

  input {
    height: inherit;
    width: inherit;
    color: $logo;
    font-weight: bold;
    background: $container;
    font-size: 15px;
    border: 1px solid $container-border;
    border-radius: 4px;
  }

  input:focus {
    box-shadow: none;
    color: $post-time;
    outline: none;
  }
}

.post-show-border {
  height: 1px;
  background: $container-border;
}

.post-show-user-follow {
  justify-content: flex-end;

  form {
    margin-right: 5px;
  }

  input {
    width: 95px;
    height: 35px;
    color: $logo;
    font-weight: bold;
    background: $container;
    font-size: 15px;
    border: 1px solid $container-border;
    border-radius: 4px;
  }

  input:focus {
    box-shadow: none;
    color: $post-time;
    outline: none;
  }
}

.post-show-time {
  display: block;
  height: 20px;
  text-align: right;
  margin: 15px 5px;
  color: $post-time;

  &:hover,
  &:active,
  &:visited {
    color: $post-time;
  }
}

.post-show-comments {
  max-height: 300px;
  min-height: 200px;
  overflow: auto;
  list-style: none;
  margin: 0;

  li {
    margin: 0 5px 7px 5px;
    word-wrap: break-word;
  }

  span {
    color: $logo;
    font-size: 15px;

    a {
      color: $simple-link;
      text-decoration: none;
    }
  }
}

.post-show-commentor { @include link($color: $logo, $font-size: 14px, $font-weight: bold); }

.post-show-comment-form {
  margin: 20px auto 20px 50px;
  height: 20px;
  width: 150px;


  input {
    border: none;
    width: 150px;
    height: 20px;
  }

  input:focus {
    border: 0;
    box-shadow: none;
    outline: none;
  }

  input::placeholder {
    color: $post-time;
    font-size: 15px;
    line-height: 20px;
  }
}




