@import 'custom/utilities/variables';
@import 'custom/utilities/mixins';

.tag-main-container {
  overflow: hidden;
}

.tag-container {
  @include desktop {
    margin: 0 auto 56px;
    overflow: hidden;
    width: 935px;
  }
}

.tag-header-container {

  @include desktop {
    margin: 56px 0 44px;
  }
}

.tag {
  color: $color-mine-shaft;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 13px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-posts-count {
  color: $color-mine-shaft;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-top-posts-main-container {

  @include desktop {
    margin-bottom: 74px;
  }
}

.tag-top-posts,
.tag-most-recent-posts {
  color: $color-gray-dusty;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 16px;
  text-align: left;
  text-transform: uppercase;
}

.tag-most-recent-posts-row,
.tag-top-posts-row {
  display: flex;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tag-most-recent-post-link,
.tag-top-post-link {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include desktop {
    height: 293px;
    margin-right: 28px;
    width: 293px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.tag-most-recent-post-attachment,
.tag-top-post-attachment {
  min-height: 100%;
}
