@import "utilities/mixins";

.tag-main-container {
  overflow: hidden;
}

.tag-container {
  overflow: hidden;

  @include large-desktop {
    width: 935px;
    margin: 0 auto 56px auto;
  }

  @include desktop {
    width: 935px;
    margin: 0 auto 56px auto;
  }
}

.tag-header-container {

  @include large-desktop {
    margin: 56px 0 44px 0;
  }

  @include desktop {
    margin: 56px 0 44px 0;
  }
}

.tag {
  color: #262626;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 13px 0;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-posts-count {
  margin: 0 0 0 0;
  color: #262626;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-posts-main-container {}

.tag-top-posts-main-container {

  @include large-desktop {
    margin-bottom: 74px;
  }

  @include desktop {
    margin-bottom: 74px;
  }
}

.tag-most-recent-posts-main-container {}

.tag-top-posts-container {}

.tag-most-posts-container {}

.tag-top-posts,
.tag-most-recent-posts {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 16px 0;
  text-align: left;
  text-transform: uppercase;
}

.tag-most-recent-posts-row,
.tag-top-posts-row {
  display: flex;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.tag-most-recent-post-link,
.tag-top-post-link {
  display: inline-block;

  @include desktop {
    width: 293px;
    height: 293px;
    margin-right: 28px;
  }

  @include large-desktop {
    width: 293px;
    height: 293px;
    margin-right: 28px;

  }

  &:last-child {
    margin-right: 0;
  }
}

.tag-most-recent-post-attachment,
.tag-top-post-attachment {
  width: 100%;
  height: 100%;
}
