@import 'utilities/mixins';

.devise-shared-pages {
  @media (max-height: 416px) { align-items: flex-start; }
  @media (max-width: 767px) and (min-height: 416px) { align-items: center; }
}

.devise-main-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.devise-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}

.devise-container-image {
  margin-right: 15px;

  @include tablet-phone { display: none; }
}

.devise-main-content {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 1px;
  margin-bottom: 10px;
  padding: 15px 40px;
  width: 350px;

  @include phone {
    background-color: $color-body;
    border-color: $color-body;
    margin-bottom: 0;
    padding: 15px 10%;
    width: 100%;
  }

  h2 {
    color: $color-time;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 15px 0;
    text-align: center;
  }
}

.kotogram {
  font-family: 'Lobster Two';
  font-size: 46px;
  margin: 0 0 15px;
  text-align: center;
}

.btn-facebook {
  background-color: $color-btn-primary;
  border: 1px solid $color-btn-primary;
  border-radius: 3px;
  color: $color-white;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .fa-facebook-official {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
}

.input-devise {
  border: 1px solid $color-input;
  border-radius: 3px;
  color: $color-light-black;
  font-size: 14px;
  margin-bottom: 6px;
  padding: 9px 8px 7px;
  width: 100%;

  &:focus {
    border-color: $color-input-focus;
    box-shadow: none;
    outline: none;
  }
}

.btn-devise {
  background-color: $color-btn-primary;
  border: 1px solid $color-btn-primary;
  border-radius: 3px;
  color: $color-white;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.devise-or {
  align-items: center;
  display: flex;
  justify-content: center;

  .line {
    background-color: $color-light-gray-c7c7c7;
    height: 1px;
    width: 106px;

    @include phone {
      width: 100%;
    }
  }

  h3 {
    color: $color-time;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 15px 18px;
  }
}

.devise-shared-links {
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 1px;
  padding: 15px;
  width: 350px;

  @include phone {
    background-color: $color-body;
    border-color: $color-body;
    width: 100%;
  }

  h5 {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
