@import 'utilities/mixins';

.devise-main-container {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.devise-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 25px 0;
}

.devise-container-image {
  margin-right: 15px;

  @include tablet-phone { display: none }
}

.devise-main-content {
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 1px;
  padding: 15px 40px;
  margin-bottom: 10px;

  @include phone {
    width: 100%;
    padding: 15px 10%;
    background-color: #fafafa;
    border-color: #fafafa;
    margin-bottom: 0px;
  }

  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #999;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
  }
}

.kotogram {
  text-align: center;
  margin: 0 0 15px 0;
  font-family: 'Lobster Two';
  font-size: 46px;
}

.btn-facebook {
  padding: 0 8px;
  cursor: pointer;
  background-color: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .fa-facebook-official {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 1px;
  }
}

.input-devise {
  margin-bottom: 6px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  padding: 9px 8px 7px;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #b2b2b2;
  }
}

.btn-devise {
  margin-top: 10px;
  padding: 0 8px;
  cursor: pointer;
  background-color: #3897f0;
  border-color: #3897f0;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.devise-or {
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    height: 1px;
    width: 106px;
    background-color: #c7c7c7;

    @include phone {
      width: 100%;
    }
  }

  h3 {
    margin: 15px 18px;
    font-size: 13px;
    color: #999;
    line-height: 15px;
    font-weight: 600;
  }
}

.devise-shared-links-container {
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 1px;
  padding: 15px;

  @include phone {
    width: 100%;
    background-color: #fafafa;
    border-color: #fafafa;
  }

  .devise-shared-links h5 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
