%footer.footer
  %section
    %button{ class: "home #{ 'active' if params[:action] == 'home'}"}
  %section
    %button.search
  %section
    %button.post
  %section
    %button.news
  %section
    %button.profile
