- if user_signed_in?
  .header
    .container
      .row
        .col-lg-11.col-centered
          .row
            .col-lg-4.logo
              %i.fa.fa-instagram{ onclick: "location.href = '#{authenticated_root_path}'" }
            .col-lg-4.search
              = form_tag(users_path, method: :get) do
                = text_field_tag :search, '', placeholder: 'Search'
            .col-lg-4.links
              %i.fa.fa-circle-thin{ onclick: "location.href = '#'" }
              %i.fa.fa-heart-o{ onclick: "location.href = '#'" }
              %i.fa.fa-user-o{ onclick: "location.href = '#{user_path(current_user)}'" }
