- if user_signed_in?
  %header.container
    .row
      .col-lg-12
        %strong= link_to 'Kotogram', authenticated_root_path
        = form_tag(users_path, method: :get) do
          = text_field_tag :search, '', placeholder: 'Search'
        %strong= link_to 'Profile', user_path(current_user)
        %hr
