<% flash.each do |type, msg| %>
  <% unless type == "timedout" || msg.blank? %>
    <% if type == "error" %>
      <div class="alert alert-dismissible alert-danger" role="alert">
    <% elsif type == "notice" %>
      <div class="alert alert-dismissible alert-info" role="alert">
    <% elsif type == "alert" %>
      <div class="alert alert-dismissible alert-danger" role="alert">
    <% else %>
      <div class="alert alert-dismissible alert-<%= type %>" role="alert">
    <% end %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= msg %>
    </div>
  <% end %>
<% end %>
